html {
  font-size: 16px;
}

body {
  font-family: "arial", times, serif;
  background-color: white;
}

p:nth-child(odd) {
  background-color:black;
  color:white;
}

.website-name {
  text-align: center;
  border-style: solid;
  border-color: black;
}

.website-name:first-letter {
  Font-size: 50px;
}

.website-blurb {
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
}

img {
  display: block;
  margin: auto;
  }

.list-of-navigation-links {
   list-style: none;
   text-align: center;
   padding-left:3px;
  }

.welcome-page-message {
   text-align: center;
   border-style: solid;
   border-color: black;
  }

.box {
  margin: auto;
}

footer {
     text-align: center;
    }

    .box {
        border-style: solid;
        border-width: 1px;
        display: block;
        width: 100px;
        height: 25px;
        color: white;
        background-color: darkblue;
        -webkit-transition: width .25s, height .25s, background-color .25s, -webkit-transform .25s;
        transition: width .25s, height .25s, background-color .25s, transform .25s;
    }

    .box:hover {
        background-color: lightblue;
        width: 300px;
        height: 70px;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
